@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Nanum+Myeongjo&display=swap');
/* * {
  background-color: #f3f8f7;
} */

.App {
  text-align: center;
  scroll-behavior: smooth;
  scroll-margin-top: 2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #B2AC9B; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7D866B;
}

/* Header Component */

#nav {
  background-color: #7D866B;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index:2;
  overflow: hidden;
}

.nav-links {
  text-decoration: none;
  background-color: #7D866B;
  color: white;
  padding: 5px;
  position: relative;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 20px;
}

.nav-links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out; 
  }

.nav-links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

header {
  position: relative;
  height: 900px;
  max-height: 900px;
  min-height: 700px; 
  width: 100%;
  background:
  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
    url('./header.gif') 
    no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
}

.headerComponent{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}

#image{
  position: relative;
  top: 100px;
}

.banner-text {
  display: flex;
  justify-content: center;
  color: white;
  z-index: 1;
  margin: 0;
  position: relative;
  top: 100px;
  text-shadow: #555 1px 1px 2px;
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}

#name{
  font-size: 50px;
}

#role{
  font-size: 25px;
}

#social-header {
  display: flex;
 float: right;
  list-style: none;
  flex-direction: column;
}

.social-links{
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  margin-right: 25px;
  position: relative;
  bottom: 250px;
}

.social-links:hover{
  animation: pop 0.3s linear 1;
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}

/* about */

#about {
  background-color: #989684 ;
  padding: 70px;
  line-height: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Nanum Myeongjo', serif;
}

#paragraph {
  background-color: rgba(0, 0, 0, 0.083);
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* skills */
#skills {
  background-color: #7D866B;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.348) 0%),
  url(./images/skills.jpg) no-repeat;
  background-size: cover;  
}

#skill-header{
  rotate: 270deg;
  font-size: 40px;
  font-family: 'EB Garamond', serif;
}

#education{
  margin: 0;
  font-family: 'Nanum Myeongjo', serif ;
  background-color: #7d866ba1;
  padding: 100px;
  border-radius: 10px;
}

#skillsImg {
  padding: 37px;
  background-color: #7d866ba1;
  border-radius: 10px;
}

/* portfolio */

.blog{
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  color: white;
  background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.348) 0%),
  url(./images/skills.jpg) no-repeat;
  background-size: cover;  
  font-family: Roboto, veranda;
  padding-bottom: 4em;
}

.title-box{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.title-box hr{
  margin-top: -0.4em;
  margin-bottom: 1em;
  width: 5em;
  height: 0.25em;
  box-sizing: content-box;
  border: none;
  background: #7D866B;
}

.title{
   display: inline-block;
   font-weight: 500;
   letter-spacing: 2px;
   font-size: 2.4em;
   font-family: 'EB Garamond', serif;
   text-align: center;
}

.intro{
  width: 100%;
  margin: 0 auto;
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  font-style: italic;
  line-height: 18px;
  display: flex;
  flex-direction: column;
}

.project-repo {
  font-size: 30px;
  color: white;
  margin-top: 15px;
}

.project-image {
  position: relative;
  margin: 20px
}

.project-image .overlay {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  background-color: black;
}

#image-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-button{
  background-color: transparent;
  color: white;
  border-style: none;
  border-radius: 5px;
  font-size: 100px;
  cursor: pointer;
}

/* experience */
#experience{
  padding: 70px;
  background-color: #989684;
  color: white;
}

#positions{
  font-family: 'Nanum Myeongjo', serif ;
  background: #7d866b7d;
  padding: 15px;
  border-radius: 10px;
  border-style: dotted 2px white;
  margin: 25px;
}

#margin-top{
  margin-top: 30px;
}

.desc-list{
  list-style: none;
}

.list-item{
  margin: 10px;
}

#resume{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#resume-download{
  font-size: 20px;
}

/* contact */

#contact-form {
  background-color: #B2AC9B;
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Myeongjo', serif;
}

#contact-info {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Nanum Myeongjo', serif;
}

#thank-you{
  font-size: 15px;
  font-family: 'Nanum Myeongjo', serif;
}

#social {
  background-color: #BAB9AB;
  padding: 10px;
  color: white;
}

#social:hover{
  transition: ease-in 0.5s;
  background-color: #989684;
}

#footer-social{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-links{
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  margin-right: 25px;
}

form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

#first-name, #last-name, #email {
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  font-family: 'Nanum Myeongjo', serif;
}

#message {
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  font-family: 'Nanum Myeongjo', serif;
}

#send-btn, #resume-download {
  margin: 5px; 
  width: 25%;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-style: none;
  background-color: #7D866B;
  color: white;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .nav-links {
    display: none;
  }
}


