@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.cdnfonts.com/css/caladea');
/* * {
  background-color: #f3f8f7;
} */

.App {
  text-align: center;
  scroll-behavior: smooth;
  scroll-margin-top: 2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #B2AC9B; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7D866B;
}

/* Header Component */

#nav {
  background-color: #7D866B;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index:2;
  overflow: hidden;
}

.nav-links {
  text-decoration: none;
  background-color: #7D866B;
  color: white;
  padding: 5px;
  position: relative;
  font-family: 'Brittany Signature', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.nav-links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out; 
  }

.nav-links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

header {
  position: relative;
  height: 900px;
  max-height: 900px;
  min-height: 700px; 
  width: 100%;
  background:
  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
    url('./header.gif') 
    no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
}

.headerComponent{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}

#image{
  position: relative;
  top: 100px;
}

.banner-text {
  display: flex;
  justify-content: center;
  color: white;
  z-index: 1;
  margin: 0;
  position: relative;
  top: 100px;
  text-shadow: #555 1px 1px 2px;
  font-family: 'Caladea', sans-serif;
  font-weight: 500;
}

#social-header {
  display: flex;
 float: right;
  list-style: none;
  flex-direction: column;
}

.social-links{
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  margin-right: 25px;
  position: relative;
  bottom: 250px;
}

.social-links{
  animation: bounce-in 1s linear 1;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.10);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

/* about */

#about {
  background-color: #989684 ;
  padding: 70px;
  line-height: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Caladea', sans-serif;
}

#paragraph {
  background-color: rgba(0, 0, 0, 0.083);
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}

/* services */
#services{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#column {
  display: flex;
  flex-direction: column;
  font-family: 'Caladea', sans-serif;
  background-color: #BAB9AB;
  color: white;
  justify-content: space-evenly;
  padding: 30px;
}

.service-title{
  font-family: 'Brittany Signature', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.card{
  background-color:#9896846f;
  border-radius: 5px;
  
  margin: 50px;
  padding: 5px;
}

.bg-change{
  background-color: #7D866B;
  padding: 10px;
  border-radius: 2px;
  border: dotted white 1px;
}

.service-list{
  list-style: none;
}

#best-value{
  background-color: #fb6161;
  font-size: 25px;
  font-family: 'Caladea', sans-serif;
  border-radius: 2px;
}

#more{
  font-size: 23px;
  background-color: #7d866ba1;
  border-radius: 25px;
  padding-bottom: 15px;
  border: dotted white 2px;
}

span{
  font-family: 'Brittany Signature', sans-serif;
  font-size: 28px;
  color: rgb(235, 82, 107)
}

#contact-link-down{
  color: white;
  font-size: 40px;
  
}

#bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-15%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-7%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-3%); }
  100% { transform:translateY(0); }
}

details {
  display: contents;
}

/* skills */
#skills {
  background-color: #7D866B;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  background:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.348) 0%),
  url(./images/skills.jpg) no-repeat;
  background-size: cover;  
}

#skill-header{
  rotate: 270deg;
  font-size: 40px;
  font-family: 'Caladea', sans-serif;
}

#education{
  margin: 0;
  font-family: 'Caladea', sans-serif;
  background-color: #7d866ba1;
  padding: 100px;
  border-radius: 10px;
}

#skillsImg {
  padding: 37px;
  background-color: #7d866ba1;
  border-radius: 10px;
}

/* portfolio */

.blog{
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  color: white;
  background-color: #BAB9AB; 
  font-family: 'Caladea', sans-serif;
  padding-bottom: 4em;
}

.title-box{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.title-box hr{
  margin-top: -0.4em;
  margin-bottom: 1em;
  width: 5em;
  height: 0.25em;
  box-sizing: content-box;
  border: none;
  background: #7D866B;
}

.title{
   display: inline-block;
   font-weight: 500;
   letter-spacing: 2px;
   font-size: 2.4em;
   font-family: 'Brittany Signature', sans-serif;
   text-align: center;
   color: white
}

.intro{
  width: 100%;
  margin: 0 auto;
  color: white;
  font-family: 'Caladea', sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 18px;
  display: flex;
  flex-direction: column;
}

.project-repo {
  font-size: 30px;
  color: white;
  margin-top: 15px;
}

.project-image {
  position: relative;
  margin: 20px
}

.project-image .overlay {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  background-color: black;
}

#image-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-button{
  background-color: transparent;
  color: white;
  border-style: none;
  border-radius: 5px;
  font-size: 100px;
  cursor: pointer;
}

/* experience */
#experience{
  padding: 70px;
  background-color: #989684;
  color: white;
}

#positions{
  font-family: 'Caladea', sans-serif;
  background: #7d866b7d;
  padding: 15px;
  border-radius: 10px;
  border-style: dotted 2px white;
  margin: 25px;
}

.position-title{
  font-family: 'Brittany Signature', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

#margin-top{
  margin-top: 30px;
}

.desc-list{
  list-style: none;
}

.list-item{
  margin: 10px;
}

#resume{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#resume-download{
  font-size: 20px;
}

#download-icon{
  margin: 2px;
  font-size: 25px;
}

/* contact */

#contact-form {
  background-color: #B2AC9B;
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Caladea', sans-serif;
}

#contact-info {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Caladea', sans-serif;
}

#thank-you{
  font-size: 15px;
  font-family: 'Caladea', sans-serif;
}

#social {
  background-color: #BAB9AB;
  padding: 10px;
  color: white;
}

#social:hover{
  transition: ease-in 0.5s;
  background-color: #989684;
}

#footer-social{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-links{
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  margin-right: 25px;
}

form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

#first-name, #last-name, #email {
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  font-family: 'Caladea', sans-serif;
}

#message {
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  font-family: 'Caladea', sans-serif;
}

#send-btn, #resume-download {
  margin: 5px; 
  width: 25%;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-style: none;
  background-color: #7D866B;
  color: white;
  cursor: pointer;
  font-family: 'Brittany Signature', sans-serif;
  font-size: 23px;
}

@media screen and (max-width: 750px) {
  .nav-links, .social-links, #about-img {
    display: none;
  }
  header {
    height: 150px;
    max-height: 150px;
  }
  #image{
    width: 400px;
  }
  #about {
    line-height: 1.5rem;
    padding: 15px
  }
  #paragraph{
    padding: 2px;
  }
  #services{
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    margin: 5px;
  }
  details {
    display: contents;
  }
  #skills{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  #education-image{
    width: 175px;
  }
  #education{
    padding: 5px;
    font-size: 15px;
    margin: 10px;
  }
  #skill-image{
    width: 200px;
  }
  .project-image{
    width: 300px;
  }
  .project-button{
    font-size: 10px;
  }
  #experience{
    padding: 20px
  }
  #positions{
    margin: 0px;
    padding: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  .company-image{
    width: 400px;
  }
  #margin-top{
    width: 200px;
  }
  .position-title{
    font-size: 25px;
    margin-bottom: -10px;
  }
  .desc-list{
    margin-top: -5px;
    font-size: 10px;
    position: relative;
    right: 15px;
  }
  #resume-download {
    font-size: 20px;
    width: 250px;
    padding: 15px;
  }
  #contact-form {
    font-size: 15px;
    padding: 25px
  }
  form{
    width: 325px;
  }
  #send-btn{
    width: 150px;
  }
  #contact-info{
    display: flex;
    flex-direction: column;
    margin: -25px;
  }
  .footer-links{
    margin: 2px;
    position: relative;
    right: 15px;
  }
}


